<div class="wrapper">

  <app-navbar></app-navbar>

  <app-sidebar></app-sidebar>
  <div class="content-wrapper" style="min-height: 512px;">
    <div class="col-md-12 bg-gcc">
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4" style="text-align-last: center;">
              <title class="ng-binding">Locación </title>
              <h3 class="ng-binding"> {{ tablaSensores?.camion?.Nombre }} - Base {{ baseNumber }} </h3>
            </div>
            <div class="col-sm-4">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a [routerLink]="['/dashboard']"
                    routerLinkActive="router-link-active">Inicio</a></li>
                <li class="breadcrumb-item active">Operaciones / Equipos / Detalles</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <section class="content">
        <div class="row p-3">
          <div class="col-6 ">
            <div class="small-box  bg-info">
              <div class="container p-2">
                <div class="row inner pl-2">
                  <div class="col-6 font-weight-bold">ID: {{tablaSensores.sensor?.id}}</div>
                  <div class="col-6 font-weight-bold">Nombre del equipo: {{truck.Nombre}}</div>
                </div>
                <div class="row inner pl-2">
                  <div class="col-6 font-weight-bold">Estatus de equipo: {{tablaSensores.sensor?.plc_st}}</div>
                  <div class="col-6 font-weight-bold">Última hora de reporte:
                    {{timestampToDate(tablaSensores.sensor?.creacionRegistro.seconds)}}</div>
                </div>
              </div>
              <div class="icon">
              </div>
            </div>
            <!--Reporte-->
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h4 class="font-bold">Última conexión:
                    {{timestampToDate(tablaSensores.sensor?.creacionRegistro.seconds)}}</h4>
                  <div class="row mb-1">
                    <div class="col-2">Silo 1</div>
                    <div class="col-3">Estatus: {{tablaSensores.sensor?.st_s1}}</div>
                    <div class="col-3" *ngIf="tablaSensores.sensor?.st_s1 == 'CLOSED'">
                      <button (click)="openAlertConfirm(1)" id="playS1" class="btn btn-success btn-circle"
                        data-toggle="modal" [disabled]="deshabilitarBotonS1"><i class="fas fa-play"></i>
                      </button>
                    </div>
                    <div class="col-3" *ngIf="tablaSensores.sensor?.st_s1 == 'OPEN'">
                      <button id="stopS1" class="btn btn-danger-circle btn-danger" (click)="closedSilo(1)"
                        [disabled]="deshabilitarBotonStopS1"><i class="fas fa-stop"></i></button>
                    </div>
                    <div class="col-5">
                      <div class="slidecontainerS1 mt-2">
                        <input type="range" min="0" max="100" value="50" class="slider" id="myRange1"
                          [(ngModel)]="sliderValue1" (ngModelChange)="onInputChange1($event)">
                        <div class="contain">
                          <div class="row">
                            <div class="col-10 pt-3" id="sliderText1">
                              <p>Porcentaje de apertura del silo 1: <span id="demo">{{ sliderValue1 }}%</span></p>
                            </div>
                            <div class="col-2 pt-1"  id="sliderButton1">
                              <button id="updatePercentage" class="btn btn-success btn-sm" data-toggle="modal"
                                data-target="#modalUpdate" (click)="setNumberSilo(1)">Actualizar silo 1</button>
                            </div>
                            <div id="contenedor1" class="col-12 d-none" style="background-color: #454D55 !important;">
                              <div class="contenedor-loader">
                                <div class="loader1"></div>
                                <div class="loader2"></div>
                                <div class="loader3"></div>
                                <div class="loader4"></div>
                              </div>
                                <div class="cargando">Actualizando porcentaje...</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-1">
                    <div class="col-2">Silo 2</div>
                    <div class="col-3">Estatus: {{tablaSensores.sensor?.st_s2}}</div>
                    <div class="col-3" *ngIf="tablaSensores.sensor?.st_s2 == 'CLOSED'">
                      <button (click)="openAlertConfirm(2)" id="playS2" class="btn btn-success btn-circle"
                        data-toggle="modal" [disabled]="deshabilitarBotonS2">
                        <i class="fas fa-play"></i>
                      </button>
                    </div>
                    <div class="col-3" *ngIf="tablaSensores.sensor?.st_s2 == 'OPEN'">
                      <button id="stopS2" class="btn btn-danger-circle btn-danger" (click)="closedSilo(2)"
                        [disabled]="deshabilitarBotonStopS2"><i class="fas fa-stop"></i></button>
                    </div>
                    <div class="col-5">
                      <div class="slidecontainerS2 mt-2">
                        <input type="range" min="0" max="100" value="50" class="slider" id="myRange2"
                          [(ngModel)]="sliderValue2" (ngModelChange)="onInputChange2($event)">
                        <div class="contain">
                          <div class="row">
                            <div class="col-10 pt-3" id="sliderText2">
                              <p>Porcentaje de apertura del silo 2: <span id="demo">{{ sliderValue2 }}%</span></p>
                            </div>
                            <div class="col-2 pt-1"  id="sliderButton2">
                              <button id="updatePercentage" class="btn btn-success btn-sm" data-toggle="modal"
                                data-target="#modalUpdate" (click)="setNumberSilo(2)">Actualizar silo 2</button>
                            </div>
                            <div id="contenedor2" class="col-12 d-none" style="background-color: #454D55 !important;">
                              <div class="contenedor-loader">
                                <div class="loader1"></div>
                                <div class="loader2"></div>
                                <div class="loader3"></div>
                                <div class="loader4"></div>
                              </div>
                                <div class="cargando">Actualizando porcentaje...</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-1">
                    <div class="col-2">Silo 3</div>
                    <div class="col-3">Estatus: {{tablaSensores.sensor?.st_s3}}</div>
                    <div class="col-3" *ngIf="tablaSensores.sensor?.st_s3 == 'CLOSED'">
                      <button (click)="openAlertConfirm(3)" id="playS3" class="btn btn-success btn-circle"
                        data-toggle="modal" [disabled]="deshabilitarBotonS3"><i class="fas fa-play"></i>
                      </button>
                    </div>
                    <div class="col-3" *ngIf="tablaSensores.sensor?.st_s3 == 'OPEN'">
                      <button id="stopS3" class="btn btn-danger-circle btn-danger" (click)="closedSilo(3)"
                        [disabled]="deshabilitarBotonStopS3"><i class="fas fa-stop"></i></button>
                    </div>
                    <div class="col-5">
                      <div class="slidecontainerS3 mt-2">
                        <input type="range" min="0" max="100" value="50" class="slider" id="myRange3"
                          [(ngModel)]="sliderValue3" (ngModelChange)="onInputChange3($event)">
                        <div class="contain">
                          <div class="row">
                            <div class="col-10 pt-3" id="sliderText3">
                              <p>Porcentaje de apertura del silo 3: <span id="demo">{{ sliderValue3 }}%</span></p>
                            </div>
                            <div class="col-2 pt-1"  id="sliderButton3">
                              <button id="updatePercentage" class="btn btn-success btn-sm" data-toggle="modal"
                                data-target="#modalUpdate" (click)="setNumberSilo(3)">Actualizar silo 3</button>
                            </div>
                            <div id="contenedor3" class="col-12 d-none" style="background-color: #454D55 !important;">
                              <div class="contenedor-loader">
                                <div class="loader1"></div>
                                <div class="loader2"></div>
                                <div class="loader3"></div>
                                <div class="loader4"></div>
                              </div>
                                <div class="cargando">Actualizando porcentaje...</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-1">
                    <div class="col-2">Conveyor</div>
                    <div class="col-3">Estatus: {{tablaSensores.sensor?.bands}}</div>
                    <div class="co-3 pl-2" *ngIf="tablaSensores.sensor?.bands == 'STOPPED'">
                      <button class="btn btn-success btn-circle" (click)="runBand()" [disabled]="deshabilitarBotonC"><i
                          class="fas fa-play"></i></button>
                    </div>
                    <div class="col-3 pl-2" *ngIf="tablaSensores.sensor?.bands == 'RUNNING'">
                      <button class="btn btn-danger-circle btn-danger" (click)="stoppedBand()"
                        [disabled]="deshabilitarBotonStopC"><i class="fas fa-stop"></i></button>
                    </div>
                    <div class="col-4"></div>
                  </div>
                </div>
                <div class="col-6 pb-5 pt-5">
                  <div class="alert alert-danger d-none" role="alert" id="alertNoUpdate" style="text-align: center !important;">
                   No se realizaron cambios.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <!-- <div class="slidecontainer mt-2">
                    <input type="range" min="0" max="100" value="50" class="slider" id="myRange"
                      [(ngModel)]="sliderValue" (ngModelChange)="onInputChange($event)">
                    <div class="contain">
                      <div class="row">
                        <div class="col-7 pt-3" id="sliderText">
                          <p>Porcentaje de apertura: <span id="demo">{{ sliderValue }}%</span></p>
                        </div>
                        <div class="col-5 pt-1"  id="sliderButton">
                          <button id="updatePercentage" class="btn btn-success d-none" data-toggle="modal"
                            data-target="#modalUpdate">Actualizar</button>
                        </div>
                        <div id="contenedor" class="col-12 d-none" style="background-color: #454D55 !important;">
                          <div class="contenedor-loader">
                            <div class="loader1"></div>
                            <div class="loader2"></div>
                            <div class="loader3"></div>
                            <div class="loader4"></div>
                          </div>
                            <div class="cargando">Actualizando porcentaje...</div>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-12 col-lg-4">
                <div class="small-box p-2" [ngClass]="getTempBgColor()" data-toggle="modal" data-target="#modalList">
                  <div class="inner">
                    FT/SEC: {{tablaSensores.sensor?.ftmin| number: '1.1-2'}}
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-4">
                <div class="small-box p-1" [ngClass]="getPressBgColor()" data-toggle="modal" data-target="#modalList">
                  <div class="inner">
                    RPM: {{tablaSensores.sensor?.rpm| number: '1.1-2'}}
                  </div>
                  <h4></h4>
                </div>
              </div>
              <div class="col-12 col-lg-4 pointer" id="generateReportBotton">
                <!-- <button class="btn btn-primary col-lg-12" data-toggle="modal" data-target="#generateReportModal">Generar reporte</button> -->
                <div class="p-3 bg-primary border-radius" data-toggle="modal" data-target="#generateReportModal"
                  style="text-align: center;">
                  Generar reporte
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-lg-12">
          <div class="card card-teal">
            <div class="card-header" id="accordionGraficaBom" data-toggle="collapse" data-target="#graficaBom"
              aria-expanded="false" aria-controls="graficaBom">
              <h5 class="card-title font-weight-bold">Reporte</h5>
              <div class="card-tools">
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body show" id="graficaBom" data-parent="#accordionGraficaBom">
              <div class="row">
                <div class="col-lg-12">
                  <app-graph></app-graph>
                  <!-- <app-cake-graph></app-cake-graph> -->
                </div>
              </div> <!-- /.row -->
            </div> <!-- ./card-body -->
          </div> <!-- /.card -->
        </div><!-- /.col -->
      </section><!-- /.content -->
    </div>
  </div>

  <div class="modal fade" id="modalAlert" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-12" style="text-align: center !important;">
                <img class="img-confirm" src="/assets/img/confirmChanges.png" alt="">
              </div>
              <div class="col-12" style="padding-left:20%; padding-right: 20%;">
                <h5>¿Seguro de abrir el silo {{numberSilo}}?</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="no-border center-btn mb-3">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success ml-4" (click)="openSilo(numberSilo)">Si, abrir silo</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalUpdate" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-12" style="text-align: center !important;">
                <img class="img-confirm" src="/assets/img/confirmChanges.png" alt="">
              </div>
              <div class="col-12" style="padding-left:0%; padding-right: 0%;">
                <h5>¿Seguro de actualizar el porcentaje de apertura?</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="no-border center-btn mb-3">
          <button type="button" class="btn btn-secondary mr-4" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success ml-4" (click)="updatePercentage()">Si, actualizar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="generateReportModal" data-backdrop="static" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Generar reporte de la tablilla: {{ tablaSensores.sensor?.id }}
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-12" id="fornDownloadReport">
              <form [formGroup]="reportForm" (ngSubmit)="generateReport()">
                <div class="row">
                  <div class="col-12 col-lg-6">
                    <label for="initDate">Fecha de inicio</label>
                    <input type="date" class="p-invalid input-group-append form-control" id="initDate"
                      formControlName="initDate">
                  </div>
                  <div class="col-12 col-lg-6">
                    <label for="finishDate">Fecha de termino</label>
                    <input type="date" class="p-invalid input-group-append form-control" id="finishDate"
                      formControlName="finishDate">
                  </div>
                </div>
                <div class="row pt-2">
                  <div class="col-12 text-center">
                  </div>
                </div>
                <div class="modal-footer mt-4">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button class="btn btn-primary" type="submit">Generar reporte</button>
                </div>
              </form>
            </div>
            <div id="contenedor" class="col-12 d-none">
              <div class="contenedor-loader">
                <div class="loader1"></div>
                <div class="loader2"></div>
                <div class="loader3"></div>
                <div class="loader4"></div>
              </div>
              <div class="cargando">Descargando reporte...</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>