<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Kinnil-API</title>
</head>

<body class="flex w-full h-[100vh] justify-center items-center text-back dark:text-white bg-white dark:bg-[#13151a]">
    <div class="flex flex-col">
        <h1 class="text-3xl font-bold text-clifford dark:text-white">
            Welcome to Kinnil CM - Maxxim API
        </h1>
    </div>
</body>

</html>