<div class="wrapper">

  <app-navbar></app-navbar>

  <app-sidebar></app-sidebar>
  <div class="content-wrapper" style="min-height: 512px;">

    <div class="col-md-12 bg-gcc">

      <div class="content-header">
        <div class="container-fluid">

          <div class="row mb-2">
            <div class="col-sm-4">
              <!-- <img src="/assets/img/fevid.png" alt="FEVID" style="width: 55%; padding-left: 6%;"> -->
            </div>
            <div class="col-sm-4" style="text-align-last: center;">

              <title class="ng-binding">Locación {{camion?.Nombre}}</title>
              <h3 class="ng-binding">{{camion?.Nombre}}</h3>
            </div>
            <div class="col-sm-4">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a [routerLink]="['/dashboard']"
                    routerLinkActive="router-link-active">Inicio</a></li>
                <li class="breadcrumb-item active">Operaciones / Equipos / Detalles</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <section class="content">
        <div class="row p-3">
          <div class="col-12">
            <div class="row">
              <div class="col-md-4 col-12">
                <div class="small-box bg-success" data-toggle="modal" data-target="#modalList">
                  <div class="inner">
                    <h4> Tiempo activo </h4>
                  </div>

                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="small-box bg-info" data-toggle="modal" data-target="#modalList">
                  <div class="inner">
                    <h4> Tiempo inactivo </h4>
                  </div>

                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="small-box bg-primary" data-toggle="modal" data-target="#modalList">
                  <div class="inner">
                    <h4>Próximo mantenimiento: {{camion?.pMantenimiento}}</h4>

                  </div>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-md-4 col-12">
                <div class="small-box bg-clockout" data-toggle="modal" data-target="#modalList">
                  <div class="inner">
                    <h4># Ordenes de trabajo</h4>

                  </div>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="small-box bg-warning " data-toggle="modal" data-target="#modalList">
                  <div class="inner text-light">
                    <h4>Ranking de actividad</h4>
                  </div>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="small-box bg-primary" data-toggle="modal" data-target="#modalList">
                  <div class="inner">
                    <h4> Último mantenimiento: {{camion?.uMantenimiento}} </h4>
                  </div>

                </div>
              </div>
            </div>



          </div>
        </div>
        <!-- <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">
                  <div class="card card-teal">
                    <div class="card-header" id="accordionCamiones"  data-toggle="collapse" data-target="#camiones"  aria-expanded="false" aria-controls="camiones">
                      <h5 class="card-title">Reporte</h5>
                      <div class="card-tools">
                      </div>
                    </div>
                    <div class="card-body show"  id="camiones" data-parent="#accordionCamiones">
                      <div class="row">
                        <div class="col-md-12">
                          <app-table [dataRows]="dataRows" [dataTable]="dataTable"></app-table>
                        </div>
                      </div> 
                    </div> 
                  </div> 
                </div>
              </div>
            </div> -->
        <div class="container-fluid mt-5">
          <div class="row">
            <div class="col-sm-3" style="display: block;" id="b1">
              <div class="card">
                <div class="card-body">
                  <div class="text-center">
                    <h5>BASE 1</h5>
                  </div>
                  <label for="idBase1">*ID tablilla</label>

                  <form [formGroup]="idsForm" (ngSubmit)="saveIdSensor(0, 'idBoard1')">
                    <input formControlName="idBoard1"  id="idBase1" type="text" class="p-invalid input-group-append form-control" required /><br>
                    <div class="text-center"><button class="btn btn-primary" type="submit">Save</button></div>
                  </form>
                  <small style="color: red;" 
                *ngIf="idsForm.value.idBoard1 ==null|| idsForm.value.idBoard1 ==''" 
                 class="p-invalid">*Campos obligatorios</small>
                </div>
              </div>
            </div>
            <div class="col-sm-3" style="display: block;" id="b2">
              <div class="card">
                <div class="card-body">
                  <div class="text-center">
                    <h5>BASE 2</h5>
                  </div>
                  <label for="idBase2">*ID tablilla</label>
                  <form [formGroup]="idsForm" (ngSubmit)="saveIdSensor(1, 'idBoard2')">
                    <input formControlName="idBoard2" id="idBase2" type="text" class="p-invalid input-group-append form-control" required /><br>
                    <div class="text-center"><button class="btn btn-primary" type="submit">Save</button></div>
                  </form>
                  <small style="color: red;" 
                *ngIf="idsForm.value.idBoard2 ==null|| idsForm.value.idBoard2 ==''" 
                 class="p-invalid">*Campos obligatorios</small>
                </div>
              </div>
            </div>
            <div class="col-sm-3" style="display: block;" id="b3">
              <div class="card">
                <div class="card-body">
                  <div class="text-center">
                    <h5>BASE 3</h5>
                  </div>
                  <label for="idBase3">*ID tablilla</label>
                  <form [formGroup]="idsForm" (ngSubmit)="saveIdSensor(2, 'idBoard3')">
                    <input formControlName="idBoard3"  id="idBase3" type="text" class="p-invalid input-group-append form-control" required /><br>
                    <div class="text-center"><button class="btn btn-primary" type="submit">Save</button></div>
                  </form>
                  <small style="color: red;" 
                *ngIf="idsForm.value.idBoard3 ==null|| idsForm.value.idBoard3 ==''" 
                 class="p-invalid">*Campos obligatorios</small>
                </div>
              </div>
            </div>
            <div class="col-sm-3" style="display: block;" id="b4">
              <div class="card">
                <div class="card-body">
                  <div class="text-center">
                    <h5>BASE 4</h5>
                  </div>
                  <label for="idBase4">*ID tablilla</label>
                  <form [formGroup]="idsForm" (ngSubmit)="saveIdSensor(3, 'idBoard4')">
                    <input formControlName="idBoard4" id="idBase4" type="text" class="p-invalid input-group-append form-control" required /><br>
                    <div class="text-center"><button class="btn btn-primary" type="submit">Save</button></div>
                  </form>
                  <small style="color: red;" 
                *ngIf="idsForm.value.idBoard4 ==null|| idsForm.value.idBoard4 ==''" 
                 class="p-invalid">*Campos obligatorios</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section><!-- /.content -->
    </div>

  </div>



  <app-footer></app-footer>

</div>