/* You can add global styles to this file, and also import other style files */

.dark-mode input:-webkit-autofill,
.dark-mode input:-webkit-autofill:focus,
.dark-mode input:-webkit-autofill:hover,
.dark-mode select:-webkit-autofill,
.dark-mode select:-webkit-autofill:focus,
.dark-mode select:-webkit-autofill:hover,
.dark-mode textarea:-webkit-autofill,
.dark-mode textarea:-webkit-autofill:focus,
.dark-mode textarea:-webkit-autofill:hover {
    -webkit-text-fill-color: black;
}

.font-bold{
    font-weight: bold;
}

.btn-circle {
    width: 30px !important;
    height: 30px !important;
    padding: 2px 0px 1px 2px!important;
    border-radius: 15px !important;
    font-size: 10px !important;
    text-align: center !important;
}

.btn-danger-circle {
    width: 30px !important;
    height: 30px !important;
    padding: 0px 1.5px 0px 0px!important;
    border-radius: 15px !important;
    font-size: 10px !important;
    text-align: center !important;
}